images/noble-server-cloudimg-amd64.img
images/ubuntu-template.qcow2
for_cloud/noble-server-cloudimg-amd64.img
for_cloud/ubuntu-template.qcow2
for_cloud/*
ubuntu-template.qcow2
teraform/terraform.tfstate
teraform/terraform.tfstate.backup
*/.terraform
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/.terraform.lock.hcl
*/for_k8s_vms/
for_k8s_vms/

images/ubuntu-template.qcow2.backup
terraform/vm_info.json
config_vms_autogen/k8s-master/cloud_init.yml
config_vms_autogen/k8s-master/network_config.yml
config_vms_autogen/k8s-worker1/cloud_init.yml
config_vms_autogen/k8s-worker1/network_config.yml
config_vms_autogen/k8s-worker2/cloud_init.yml
config_vms_autogen/k8s-worker2/network_config.yml
config_vms_autogen/tester/cloud_init.yml
config_vms_autogen/tester/network_config.yml
*/test