images/noble-server-cloudimg-amd64.img

images/ubuntu-template.qcow2
for_cloud/noble-server-cloudimg-amd64.img
for_cloud/ubuntu-template.qcow2
for_cloud/*
ubuntu-template.qcow2
teraform/.terraform/providers/registry.terraform.io/dmacvicar/libvirt/0.8.3/linux_amd64/CHANGELOG.md
teraform/.terraform/providers/registry.terraform.io/dmacvicar/libvirt/0.8.3/linux_amd64/LICENSE
teraform/.terraform/providers/registry.terraform.io/dmacvicar/libvirt/0.8.3/linux_amd64/README.md
teraform/.terraform/providers/registry.terraform.io/dmacvicar/libvirt/0.8.3/linux_amd64/terraform-provider-libvirt_v0.8.3
teraform/.terraform.lock.hcl
teraform/terraform.tfstate
teraform/terraform.tfstate.backup
teraform/.terraform/providers/registry.terraform.io/hashicorp/template/2.2.0/linux_amd64/terraform-provider-template_v2.2.0_x4
terraform/.terraform/providers/registry.terraform.io/dmacvicar/libvirt/0.8.3/linux_amd64/CHANGELOG.md
terraform/.terraform/providers/registry.terraform.io/dmacvicar/libvirt/0.8.3/linux_amd64/LICENSE
terraform/.terraform/providers/registry.terraform.io/dmacvicar/libvirt/0.8.3/linux_amd64/README.md
terraform/.terraform/providers/registry.terraform.io/dmacvicar/libvirt/0.8.3/linux_amd64/terraform-provider-libvirt_v0.8.3
terraform/.terraform/providers/registry.terraform.io/hashicorp/template/2.2.0/linux_amd64/terraform-provider-template_v2.2.0_x4
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
