#cloud-config

users:
  - name: ${username}
    sudo: ALL=(ALL) NOPASSWD:ALL
    groups: sudo, admin
    shell: /bin/bash
    lock_passwd: true
    ssh_authorized_keys:
      - ${ssh_key}

ssh_pwauth: false
disable_root: true
manage_etc_hosts: false

write_files:
  - path: /etc/motd
    permissions: '0644'
    content: |
      Welcome to your Ubuntu server!

hostname: ${hostname}

package_update: true
package_upgrade: true

fs_setup:
  - label: containerd_disk
    device: /dev/vdb
    partition: auto
    filesystem: ext4

mounts:
  - [ "LABEL=containerd_disk", "/var/lib/containerd", "ext4", "defaults,nofail,discard", "0", "2" ]

runcmd:
  - mkdir -p /var/lib/containerd
  - mount -a
  - echo "Initial server setup complete!"
  - systemctl restart ssh

final_message: "The system is finally up, after $UPTIME seconds"
